/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/azure-blue.css";
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}

.full-width {
  width: 100%;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: auto !important;
}
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
